$light-theme-color: #1e1e1e;
$dark-theme-color: #fff;

.v-application {
  .pf-text-light {
    color: $light-theme-color;
  }

  & .pf-text-pair {
    @extend .pf-text-pair;
  }

  & .pf-text-pair-accent {
    @extend .pf-text-pair-accent;
  }

  & .pf-timeline-path-light {
    &.v-timeline {
      &::before {
        background: $light-theme-color;
      }
    }
  }

  /**
    * Override card to break words on overflow
    *   See https://github.com/vuetifyjs/vuetify/issues/9130#issuecomment-678795229
    */
  .v-card__text,
  .v-card__title {
    word-break: normal;
  }
}
