<script lang="ts">
export default { name: 'IconAdobeIllustrator' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-adobe-illustrator"
  >
    <path fill-rule="evenodd" d="M1 1L35 1L35 34.15L1 34.15L1 1ZM2.42 32.73L33.58 32.73L33.58 2.42L2.42 2.42L2.42 32.73ZM23.44 12.65L25.67 12.65C25.78 12.65 25.84 12.69 25.84 12.82L25.84 24C25.84 24.11 25.81 24.17 25.67 24.17L23.47 24.17C23.32 24.17 23.28 24.1 23.28 23.98L23.28 12.82L23.27 12.82C23.27 12.7 23.31 12.65 23.44 12.65ZM23.11 9.6C23.11 8.69 23.75 8.16 24.56 8.16C25.42 8.16 26 8.73 26 9.6C26 10.53 25.39 11.04 24.53 11.04C23.71 11.05 23.11 10.54 23.11 9.6ZM11.69 24.02C11.66 24.13 11.62 24.16 11.48 24.16L9.39 24.16C9.25 24.16 9.22 24.12 9.25 23.95L13.28 9.87C13.34 9.62 13.39 9.39 13.42 8.69C13.42 8.59 13.46 8.55 13.53 8.55L16.51 8.55C16.61 8.55 16.65 8.58 16.68 8.69L21.19 23.98C21.21 24.09 21.19 24.16 21.07 24.16L18.72 24.16C18.61 24.16 18.54 24.13 18.51 24.03L17.35 19.77L12.81 19.77L11.69 24.02ZM15.05 10.82L15.02 10.82C14.73 12.47 13.98 15.28 13.38 17.48L16.74 17.48C16.35 15.9 15.41 12.48 15.05 10.82Z" />
  </svg>
</template>

<style>
.icon-adobe-illustrator {
  fill: currentColor;
}
</style>
