<script lang="ts">
export default { name: 'IconAdobePremierPro' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-adobe-premier-pro"
  >
    <path fill-rule="evenodd" d="M1 1L35 1L35 34.15L1 34.15L1 1ZM2.42 32.73L33.58 32.73L33.58 2.42L2.42 2.42L2.42 32.73ZM21.4 15C21.4 14.83 21.4 14.42 21.33 13.62C21.33 13.51 21.34 13.48 21.44 13.44C22.31 13.08 24.33 12.46 26.63 12.46C26.74 12.46 26.8 12.49 26.8 12.6L26.8 14.66C26.8 14.77 26.75 14.8 26.64 14.8C25.75 14.76 24.46 14.87 23.96 15.08L23.96 24.01C23.96 24.12 23.92 24.18 23.79 24.18L21.57 24.18C21.46 24.18 21.4 24.13 21.4 24.01L21.4 15L21.4 15ZM9.83 8.76C9.83 8.66 9.85 8.59 9.97 8.59C10.87 8.55 12.21 8.52 13.61 8.52C17.53 8.52 19.25 10.68 19.25 13.44C19.25 17.04 16.64 18.58 13.44 18.58C12.9 18.58 12.72 18.55 12.33 18.55L12.33 23.99C12.33 24.11 12.29 24.16 12.16 24.16L9.98 24.16C9.87 24.16 9.81 24.12 9.81 23.99L9.81 8.76L9.83 8.76ZM12.33 16.29C12.66 16.31 12.91 16.31 13.48 16.31C15.14 16.31 16.7 15.73 16.7 13.48C16.7 11.68 15.59 10.78 13.69 10.78C13.13 10.78 12.59 10.8 12.33 10.82L12.33 16.29Z" />
  </svg>
</template>

<style>
.icon-adobe-premier-pro {
  fill: currentColor;
}
</style>
