<script lang="ts">
export default { name: 'IconAdobeAudition' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-adobe-audition"
  >
    <g>
      <path fill-rule="evenodd" d="M1 1L35 1L35 34L1 34L1 1ZM2.4 32.67L33.6 32.67L33.6 2.4L2.4 2.4L2.4 32.67Z" />
      <path fill-rule="evenodd" d="M10.59 19.74L9.35 23.93C9.33 24.08 9.27 24.13 9.15 24.13L7.08 24.13C6.95 24.13 6.91 24.05 6.95 23.89C8.04 20.2 9.88 14.05 11.17 9.88C11.23 9.63 11.29 9.39 11.33 8.55C11.33 8.46 11.39 8.41 11.45 8.41L14.24 8.41C14.35 8.41 14.36 8.44 14.4 8.53C15.89 13.48 17.54 18.92 19.07 23.91C19.11 24.06 19.07 24.13 18.95 24.13L16.68 24.13C16.58 24.13 16.54 24.08 16.5 23.98L15.21 19.74L10.59 19.74L10.59 19.74ZM12.86 10.81L12.84 10.81C12.55 12.4 11.71 15.12 11.11 17.37L14.66 17.37C14.26 15.76 13.27 12.5 12.86 10.81Z" />
      <path fill-rule="evenodd" d="M28.75 21.79C28.75 21.94 28.77 22.44 28.81 23.24C28.81 23.33 28.8 23.38 28.71 23.4C27.47 23.87 26.1 24.36 24.36 24.36C22.23 24.36 20.19 23.54 20.19 20.26L20.19 12.78C20.19 12.66 20.24 12.59 20.36 12.59L22.59 12.59C22.71 12.59 22.76 12.67 22.76 12.78L22.76 19.96C22.76 21.34 23.28 22.08 24.73 22.08C25.32 22.08 25.85 21.96 26.2 21.82L26.2 12.77C26.2 12.65 26.25 12.58 26.37 12.58L28.58 12.58C28.72 12.58 28.75 12.66 28.75 12.77L28.75 21.79L28.75 21.79Z" />
    </g>
  </svg>
</template>

<style>
.icon-adobe-audition {
  fill: currentColor;
}
</style>
