<script lang="ts">
export default { name: 'IconAWSChalice' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-aws-chalice"
  >
    <g>
      <path fill-rule="evenodd" d="M3.27 1L31.59 1C31.59 1 32 0.94 32 1.68C32 2.42 32.3 12.12 20.75 15.77C20.21 15.94 20.17 16.65 19.53 20.11C19.53 20.14 21.78 21.36 21.57 23.68C21.54 23.92 21.41 24.04 20.89 24.04C20.37 24.04 19.67 24.04 19.67 24.04C19.67 24.04 19.92 30.19 26.6 33.44C26.87 33.58 27.26 33.74 27.26 34.06C27.26 34.39 27.4 34.61 26.44 34.61C25.49 34.61 8.15 34.61 8.15 34.61C8.15 34.61 7.61 34.52 7.61 34.2C7.61 33.88 7.56 33.87 8.29 33.52C9.01 33.17 14.63 30.7 15.33 24.04C15.33 24.04 13.71 24.04 13.71 24.04C13.71 24.04 13.44 24.15 13.44 23.49C13.44 22.84 13.4 21.88 15.33 20.11C15.34 20.1 14.98 15.92 14.11 15.77C13.25 15.62 3.73 13.34 3 1.68C2.99 1.46 3.06 1 3.27 1ZM30.98 1.97L3.81 1.95C3.81 1.95 4.57 14.94 17.64 15.09C25.77 15.19 31.41 7.49 30.98 1.97ZM16.28 19.84C16.37 20.56 16.11 20.71 16.01 20.78C14.28 22.05 14.38 23.09 14.38 23.09C14.38 23.09 15.48 23.09 15.74 23.09C16 23.09 16.32 23.23 16.28 23.59C15.35 31.83 9.91 33.66 9.91 33.66C9.91 33.66 24.96 33.66 24.95 33.66C18.67 29.92 18.75 24.18 18.72 23.63C18.69 23.08 19.13 23.09 19.13 23.09C19.13 23.09 20.62 23.11 20.62 23.09C20.46 21.68 19.34 21.1 18.86 20.65C18.37 20.2 19.4 16.04 19.4 16.04L15.6 16.04C16.03 17.23 16.19 19.11 16.28 19.84Z" />
      <path d="M15.47 3.98L17.36 3.98L19.8 9.81L20.62 9.4L21.02 10.49L18.86 11.16L17.5 7.78L15.47 10.76L13.98 10.76L16.96 6.29L16.55 5.07L15.47 5.07L15.47 3.98Z" />
      <path d="M10.73 11.73C10.73 11.73 11.02 11.07 11.68 11.72C11.98 12 12.62 11.89 12.39 12.47C12.17 13 11.45 12.6 11.26 12.47C11.06 12.34 10.5 12.12 10.73 11.73Z" />
      <path d="M5.44 2.9C5.69 2.89 5.95 2.86 6.12 3.98C6.29 5.1 6.98 7.09 8.56 9C10.14 10.91 10.57 10.58 10.42 11.09C10.29 11.53 9.82 11.6 9.47 11.36C9.12 11.11 6.27 8.6 5.31 4.93C5.11 4.19 4.81 2.93 5.44 2.9Z" />
    </g>
  </svg>
</template>

<style>
.icon-aws-chalice {
  fill: currentColor;
}
</style>
