<script lang="ts">
export default { name: 'IconBluesky' }
</script>

<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72" width="72" height="72" class="icon-bluesky">
    <path
      d="m17.9 11.8c7.3 5.5 15.2 16.7 18.1 22.7v15.9c0-0.3-0.1 0.1-0.4 0.9-1.5 4.5-7.4 21.8-20.9 7.9-7.1-7.3-3.9-14.6 9.1-16.8-7.4 1.3-15.7-0.8-18-9-0.7-2.4-1.8-16.9-1.8-18.8 0-9.9 8.6-6.8 13.9-2.8zm36.2 0c-7.3 5.5-15.2 16.7-18.1 22.7v15.9c0-0.3 0.1 0.1 0.4 0.9 1.5 4.5 7.4 21.8 20.9 7.9 7.1-7.3 3.9-14.6-9.1-16.8 7.4 1.3 15.7-0.8 18-9 0.7-2.4 1.8-16.9 1.8-18.8 0-9.9-8.6-6.8-13.9-2.8z"
    />
  </svg>
</template>

<style>
.icon-bluesky {
  fill: currentColor;
}
</style>
