<script lang="ts">
export default { name: 'IconFastify' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-fastify"
  >
    <path fill-rule="evenodd" d="M25.15 7.11L25.15 7.11L25.15 7.11L25.15 7.11C25.15 7.11 25.15 7.11 25.15 7.11C25.15 7.11 25.15 7.12 25.16 7.12C25.16 7.13 25.16 7.15 25.17 7.17C25.18 7.21 25.19 7.27 25.2 7.35C25.22 7.5 25.23 7.72 25.21 7.99C25.16 8.49 25 9.17 24.52 9.92L34.85 7.2L34.93 7.18L34.95 7.26L34.99 7.43L35 7.46L34.99 7.48L33.93 10.24L33.91 10.28L33.87 10.29L23.9 12.92L23.9 15.41L32.68 13.09L32.84 13.05L32.78 13.2L31.64 16.16L31.62 16.2L31.58 16.21L23.89 18.24L23.89 20.73L30.4 19.01L30.55 18.97L30.49 19.12L29.35 22.08L29.34 22.12L29.3 22.13L20.63 24.42C19.21 25.03 17.67 25.99 16.33 26.86C16.11 27 15.91 27.13 15.71 27.26C15.27 27.55 14.86 27.82 14.49 28.05C13.96 28.38 13.5 28.64 13.17 28.77C12.79 28.92 12.36 28.93 11.94 28.87C11.51 28.8 11.09 28.66 10.71 28.5C10.33 28.35 9.99 28.17 9.75 28.04C9.63 27.97 9.54 27.91 9.47 27.87C9.44 27.85 9.41 27.83 9.39 27.82C9.39 27.82 9.39 27.82 9.39 27.82L9.36 27.83L9.34 27.78L9.27 27.74L9.3 27.71C9.3 27.71 9.3 27.71 9.3 27.71C9.28 27.68 9.26 27.64 9.24 27.58C9.18 27.47 9.11 27.32 9.04 27.14C8.9 26.8 8.75 26.35 8.75 26L8.75 25.84L8.88 25.93L8.88 25.93L8.88 25.93L8.88 25.93L8.88 25.93C8.88 25.93 8.89 25.93 8.89 25.94C8.9 25.94 8.91 25.95 8.93 25.96C8.96 25.98 9 26.01 9.06 26.04C9.17 26.11 9.33 26.2 9.52 26.29C9.88 26.47 10.34 26.64 10.74 26.64C10.77 26.62 10.79 26.61 10.81 26.59C10.85 26.56 10.89 26.53 10.93 26.5L10.94 25.84L10.94 25.75L11.9 25.75C11.91 25.74 11.93 25.73 11.94 25.73C11.94 25.73 11.94 25.73 11.94 25.72L11.95 25.04L11.95 24.96L12.9 24.96C13.34 24.6 13.67 24.29 13.81 24.12C13.94 23.96 14.01 23.68 13.99 23.33C13.96 22.98 13.86 22.57 13.67 22.16C13.28 21.35 12.56 20.56 11.48 20.27C11.08 20.16 10.62 20.19 10.14 20.31L10.03 20.34L10.04 20.22C10.14 19.01 10.26 18.35 10.43 17.9C10.58 17.5 10.78 17.27 11.04 16.97C11.07 16.93 11.1 16.89 11.13 16.86L11.14 16.84L11.16 16.83L11.98 16.52L11.99 16.52L11.99 16.52L11.99 16.52L11.99 16.52L11.99 16.52C11.99 16.52 11.99 16.52 11.99 16.52L11.99 16.52C12 16.52 12 16.52 12.01 16.51C12.02 16.51 12.04 16.5 12.07 16.49C12.12 16.47 12.2 16.44 12.3 16.39C12.5 16.29 12.77 16.14 13.08 15.91C13.69 15.44 14.43 14.66 14.95 13.39C14.95 13.39 14.95 13.39 14.95 13.39L15.26 12.61L10.35 15.96L9.11 20.65L9.1 20.68L9.06 20.7C8.93 20.76 8.8 20.83 8.66 20.9L8.8 21.88L8.82 22.02L8.69 21.97L7.61 21.57L7.73 22.59L7.74 22.73L7.62 22.68L6.44 22.25C6.36 22.3 6.28 22.35 6.21 22.4C6.43 22.75 6.68 23.08 6.87 23.32C6.97 23.46 7.06 23.56 7.12 23.64C7.15 23.67 7.17 23.7 7.19 23.72C7.2 23.73 7.2 23.74 7.21 23.75C7.21 23.75 7.21 23.75 7.21 23.75L7.21 23.75L7.21 23.75L7.21 23.75L7.21 23.75L7.35 23.91L7.14 23.89C6.29 23.8 5.53 23.48 4.93 23.16C4.76 23.24 4.61 23.31 4.46 23.35L4.46 23.35L4.46 23.35C4.07 23.46 3.68 23.39 3.32 23.23C2.96 23.07 2.63 22.82 2.35 22.56C2.06 22.29 1.83 22.02 1.66 21.81C1.58 21.7 1.52 21.61 1.47 21.55C1.45 21.52 1.43 21.49 1.42 21.48C1.41 21.47 1.41 21.46 1.41 21.46C1.41 21.45 1.4 21.45 1.4 21.45L1.4 21.45L1.4 21.45L1.4 21.45C1.4 21.45 1.4 21.45 1.42 21.44L1.42 21.44L1.4 21.45L1.39 21.44L1.39 21.42L1.39 21.4L1.34 21.16L1.52 21.33C1.53 21.33 1.54 21.34 1.54 21.34C2.45 20.13 3.12 19.31 3.56 18.8C3.75 18.59 3.9 18.42 4.01 18.31L1.12 19.23L1.03 19.25L1.02 19.16L1.01 19.11L1 19.06L1.04 19.03L1.04 19.03L1.04 19.03L1.04 19.03L1.05 19.03L1.08 19C1.11 18.98 1.14 18.95 1.19 18.92C1.29 18.84 1.44 18.73 1.61 18.6C1.96 18.34 2.44 17.98 2.96 17.6C3.98 16.83 5.15 15.95 5.72 15.54C5.99 15.35 6.26 14.97 6.59 14.47C6.66 14.37 6.73 14.25 6.81 14.13C7.08 13.72 7.38 13.25 7.73 12.78C8.64 11.56 9.9 10.28 11.88 9.65C13.83 9.03 15.02 8.88 16.04 8.9C16.52 8.91 16.97 8.96 17.43 9.01C17.46 9.01 17.49 9.02 17.51 9.02C18.01 9.07 18.53 9.12 19.17 9.14C20.42 9.17 21.88 8.65 23.04 8.12C23.61 7.86 24.11 7.59 24.47 7.39C24.64 7.29 24.78 7.21 24.88 7.15C24.93 7.12 24.96 7.1 24.99 7.08C25 7.07 25.01 7.07 25.02 7.07C25.02 7.06 25.02 7.06 25.02 7.06L25.03 7.06L25.03 7.06L25.03 7.06C25.03 7.06 25.03 7.06 25.07 7.13C25.15 7.11 25.15 7.11 25.15 7.11ZM25.07 7.13L25.03 7.06L25.12 7L25.15 7.11L25.07 7.13ZM17.56 17.51L19.5 17L20.11 15.41L18.18 15.92L17.56 17.51ZM17.45 18.25L16.83 19.84L18.77 19.33L19.38 17.74L17.45 18.25ZM20.22 17.65L19.61 19.25L21.54 18.74L22.16 17.14L20.22 17.65ZM24.99 7.15C24.99 7.15 24.99 7.15 24.99 7.15Z" />
  </svg>
</template>

<style>
.icon-fastify {
  fill: currentColor;
}
</style>
