<script lang="ts">
export default { name: 'IconFrontEnd' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-front-end"
  >
    <g>
      <g>
        <path d="M20.36 5.32C20.63 5.32 20.86 5.1 20.86 4.82L20.86 4.82C20.86 4.54 20.63 4.32 20.36 4.32C20.08 4.32 19.86 4.55 19.86 4.82C19.86 5.1 20.08 5.32 20.36 5.32Z" />
        <path d="M17.9 5.32C18.17 5.32 18.4 5.1 18.4 4.82L18.4 4.82C18.4 4.54 18.17 4.32 17.9 4.32C17.62 4.32 17.4 4.55 17.4 4.82C17.4 5.1 17.62 5.32 17.9 5.32L17.9 5.32Z" />
        <path d="M15.44 5.32C15.71 5.32 15.93 5.1 15.93 4.82L15.93 4.82C15.93 4.54 15.71 4.32 15.44 4.32C15.16 4.32 14.94 4.55 14.94 4.82C14.94 5.1 15.16 5.32 15.44 5.32Z" />
        <path d="M9.23 4.32L4.13 4.32C4.13 4.32 4.13 4.32 4.13 4.32C3.86 4.32 3.63 4.54 3.63 4.82C3.63 5.09 3.86 5.32 4.13 5.32L9.23 5.32L9.23 5.32C9.5 5.32 9.73 5.1 9.73 4.82C9.73 4.55 9.5 4.33 9.23 4.32L9.23 4.32Z" />
        <path fill-rule="evenodd" d="M20.09 9.21C20.55 9.21 20.93 9.59 20.93 10.05L20.93 12.27C20.93 12.73 20.55 13.11 20.09 13.11L12.72 13.11C12.26 13.11 11.88 12.73 11.88 12.27L11.88 10.05C11.88 9.59 12.26 9.21 12.72 9.21L20.09 9.21ZM19.93 10.21L12.88 10.21L12.88 12.11L19.93 12.11L19.93 10.21Z" />
        <path d="M20.43 14.88L12.38 14.88C12.11 14.88 11.88 15.1 11.88 15.38C11.88 15.65 12.11 15.88 12.38 15.88L20.43 15.88C20.7 15.88 20.93 15.65 20.93 15.38C20.93 15.1 20.7 14.88 20.43 14.88Z" />
        <path d="M13.61 17.24L12.38 17.24C12.11 17.24 11.88 17.46 11.88 17.74C11.88 18.01 12.11 18.23 12.38 18.23L13.61 18.23C13.88 18.23 14.11 18.01 14.11 17.74C14.11 17.46 13.88 17.24 13.61 17.24Z" />
        <path d="M20.43 17.24L16.31 17.24C16.03 17.24 15.81 17.46 15.81 17.74C15.81 18.01 16.03 18.23 16.31 18.23L20.43 18.23C20.7 18.23 20.93 18.01 20.93 17.74C20.93 17.46 20.7 17.24 20.43 17.24Z" />
        <path d="M30.54 30.85L30.52 30.85C30.25 30.85 30.02 31.08 30.02 31.35C30.02 31.63 30.25 31.85 30.52 31.85L30.54 31.85C30.81 31.85 31.04 31.63 31.04 31.35C31.04 31.08 30.81 30.85 30.54 30.85Z" />
        <path fill-rule="evenodd" d="M33.58 20.96C34.36 20.96 35 21.59 35 22.37L35 32.42C35 33.2 34.36 33.84 33.58 33.84L27.49 33.84C26.71 33.84 26.08 33.2 26.08 32.42L26.08 28.66L21.33 28.66L21.92 30.62L22.91 30.62C23.8 30.62 24.52 31.35 24.52 32.23L24.52 33.01C24.52 33.47 24.15 33.84 23.69 33.84L10.58 33.84C10.13 33.84 9.75 33.47 9.75 33.01L9.75 32.23C9.75 31.35 10.47 30.62 11.36 30.62L12.36 30.62L12.94 28.66L6.02 28.66C5.25 28.66 4.62 28.03 4.62 27.25L4.62 20.8L2.37 20.8C1.62 20.8 1 20.18 1 19.43L1 3.37C1 2.62 1.62 2 2.37 2L22.12 2C22.88 2 23.49 2.62 23.49 3.37L23.49 10.98L28.25 10.98C29.03 10.98 29.66 11.61 29.66 12.39L29.66 20.96L33.58 20.96ZM2 19.43C2 19.63 2.17 19.8 2.37 19.8L22.12 19.8C22.33 19.8 22.5 19.63 22.5 19.42L22.5 7.64L13.4 7.64C13.12 7.64 12.9 7.42 12.9 7.14C12.9 6.87 13.12 6.65 13.4 6.65L22.5 6.65L22.5 3.37C22.5 3.17 22.33 3 22.12 3L2.37 3C2.17 3 2 3.17 2 3.37L2 6.65L11.1 6.65C11.37 6.65 11.59 6.87 11.59 7.14C11.59 7.42 11.37 7.64 11.1 7.64L2 7.64L2 19.43ZM22.12 20.8L5.61 20.8L5.61 25.14L26.08 25.14L26.08 22.37C26.08 21.59 26.71 20.96 27.49 20.96L28.66 20.96L28.66 12.39C28.66 12.16 28.48 11.98 28.25 11.98L23.49 11.98L23.49 19.43C23.49 20.18 22.88 20.8 22.12 20.8L22.12 20.8ZM22.91 31.62L11.36 31.62C11.02 31.62 10.75 31.9 10.75 32.23L10.75 32.84L23.53 32.84L23.53 32.23C23.53 31.9 23.25 31.62 22.91 31.62ZM26.08 27.66L26.08 26.14L5.61 26.14L5.61 27.25C5.61 27.48 5.8 27.66 6.02 27.66L15.99 27.66C16.26 27.66 16.49 27.88 16.49 28.16C16.49 28.43 16.26 28.66 15.99 28.66L13.98 28.66L13.4 30.62L20.88 30.62L20.29 28.66L18.28 28.66C18 28.66 17.78 28.43 17.78 28.16C17.78 27.88 18 27.66 18.28 27.66L26.08 27.66ZM34 22.37C34 22.14 33.82 21.95 33.58 21.95L27.49 21.95C27.26 21.95 27.07 22.14 27.07 22.37L27.07 32.42C27.07 32.66 27.26 32.84 27.49 32.84L33.58 32.84C33.82 32.84 34 32.66 34 32.42L34 22.37Z" />
        <path fill-rule="evenodd" d="M9.48 9.21C9.94 9.21 10.31 9.59 10.31 10.05L10.31 17.4C10.31 17.86 9.94 18.23 9.48 18.23L4.4 18.23C3.94 18.23 3.56 17.86 3.56 17.4L3.56 10.05C3.56 9.59 3.94 9.21 4.4 9.21L9.48 9.21ZM9.32 10.21L4.56 10.21L4.56 17.24L9.32 17.24L9.32 10.21Z" />
      </g>
    </g>
  </svg>
</template>

<style>
.icon-front-end {
  fill: currentColor;
}
</style>
