<script lang="ts">
export default { name: 'IconLumen' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-lumen"
  >
    <path d="M10 10.48C10.15 10.48 10.29 10.45 10.43 10.39L25.42 3.41C25.92 3.18 26.14 2.58 25.91 2.08C25.67 1.58 25.08 1.36 24.57 1.59L9.58 8.57C9.08 8.8 8.86 9.4 9.09 9.9C9.26 10.26 9.63 10.48 10 10.48L10 10.48ZM24.57 5.86L9.58 12.83C9.08 13.06 8.86 13.66 9.09 14.16C9.26 14.53 9.63 14.74 10 14.74C10.15 14.74 10.29 14.71 10.43 14.65L25.42 7.68C25.92 7.44 26.14 6.85 25.91 6.34C25.67 5.84 25.08 5.62 24.57 5.86L24.57 5.86ZM24.57 10.15L9.58 17.13C9.08 17.36 8.86 17.96 9.09 18.46C9.26 18.82 9.63 19.04 10 19.04C10.15 19.04 10.29 19.01 10.43 18.94L25.42 11.97C25.92 11.74 26.14 11.14 25.91 10.64C25.67 10.14 25.08 9.92 24.57 10.15L24.57 10.15ZM10 6.23C10.15 6.23 10.29 6.2 10.43 6.13L17.34 2.91C17.84 2.68 18.06 2.08 17.82 1.58C17.59 1.08 16.99 0.86 16.49 1.09L9.58 4.32C9.08 4.55 8.86 5.15 9.09 5.65C9.26 6.01 9.63 6.23 10 6.23L10 6.23ZM24.57 14.42L19.27 16.91C19.18 16.95 19.1 17 19.03 17.06C18.96 17.13 18.9 17.2 18.85 17.28C18.8 17.36 18.76 17.45 18.73 17.54C18.71 17.63 18.69 17.72 18.69 17.82L18.69 22.82L16.38 22.82L16.38 19.09C16.38 18.53 15.93 18.08 15.38 18.08C14.82 18.08 14.37 18.53 14.37 19.09L14.37 22.82L12.94 22.82C12.51 22.82 12.19 23.21 12.26 23.63L12.6 25.51C12.61 25.58 12.64 25.66 12.68 25.73C12.72 25.8 12.77 25.86 12.83 25.91C12.9 25.96 12.96 26 13.04 26.03C13.11 26.06 13.19 26.07 13.27 26.07L16.79 26.07L13.07 26.75C13 26.76 12.94 26.78 12.88 26.82C12.83 26.85 12.78 26.9 12.74 26.95C12.7 27.01 12.68 27.07 12.66 27.13C12.65 27.2 12.65 27.26 12.66 27.33C12.67 27.39 12.69 27.44 12.72 27.49C12.75 27.54 12.79 27.59 12.83 27.62C12.88 27.66 12.93 27.69 12.98 27.71C13.04 27.73 13.1 27.74 13.15 27.74C13.18 27.74 13.21 27.74 13.24 27.73L21.79 26.18C21.82 26.18 21.85 26.17 21.88 26.15C21.91 26.14 21.94 26.13 21.97 26.11C22 26.09 22.02 26.07 22.05 26.05C22.07 26.03 22.09 26.01 22.11 25.98C22.29 25.88 22.42 25.7 22.45 25.49L22.74 23.61C22.8 23.2 22.48 22.82 22.06 22.82L20.7 22.82L20.7 18.45L25.42 16.23C25.92 16 26.14 15.4 25.9 14.9C25.67 14.4 25.07 14.18 24.57 14.42L24.57 14.42ZM21.61 27.75L13.07 29.3C13 29.31 12.94 29.34 12.88 29.37C12.83 29.41 12.78 29.45 12.74 29.51C12.7 29.56 12.68 29.62 12.66 29.69C12.65 29.75 12.65 29.82 12.66 29.88C12.67 29.94 12.69 30 12.72 30.05C12.75 30.1 12.79 30.14 12.83 30.18C12.88 30.22 12.93 30.25 12.98 30.27C13.04 30.29 13.1 30.3 13.15 30.3C13.18 30.3 13.21 30.29 13.24 30.29L21.79 28.74C21.86 28.72 21.92 28.7 21.97 28.66C22.03 28.63 22.08 28.58 22.11 28.53C22.15 28.47 22.18 28.41 22.19 28.35C22.21 28.28 22.21 28.22 22.2 28.15C22.15 27.88 21.89 27.7 21.61 27.75L21.61 27.75ZM21.61 30.4L13.07 31.95C13 31.96 12.94 31.99 12.88 32.02C12.83 32.06 12.78 32.1 12.74 32.16C12.7 32.21 12.68 32.27 12.66 32.34C12.65 32.4 12.65 32.47 12.66 32.53C12.67 32.59 12.69 32.65 12.72 32.7C12.75 32.75 12.79 32.79 12.83 32.83C12.88 32.87 12.93 32.9 12.98 32.92C13.04 32.94 13.1 32.95 13.15 32.95C13.18 32.95 13.21 32.94 13.24 32.94L21.79 31.39C21.86 31.37 21.92 31.35 21.97 31.31C22.03 31.28 22.08 31.23 22.11 31.18C22.15 31.12 22.18 31.06 22.19 31C22.21 30.93 22.21 30.87 22.2 30.8C22.15 30.53 21.89 30.35 21.61 30.4L21.61 30.4ZM20.59 33.07L14.22 34.17C14.09 34.19 13.97 34.27 13.89 34.38C13.82 34.49 13.79 34.62 13.81 34.75C13.83 34.88 13.91 35 14.01 35.07C14.12 35.15 14.26 35.18 14.39 35.16L20.76 34.06C20.83 34.05 20.89 34.03 20.94 33.99C21 33.96 21.05 33.91 21.09 33.86C21.12 33.8 21.15 33.74 21.16 33.68C21.18 33.61 21.18 33.55 21.17 33.48C21.12 33.21 20.86 33.03 20.59 33.07L20.59 33.07Z" />
  </svg>
</template>

<style>
.icon-lumen {
  fill: currentColor;
}
</style>
