<script lang="ts">
export default { name: 'IconMySQL' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-mysql"
  >
    <path fill-rule="evenodd" d="M32.32 26.66C32.32 26.66 32.31 26.66 32.31 26.66C32.31 26.67 32.31 26.67 32.31 26.68L32.32 26.66ZM32.31 26.66C32.23 26.21 31.09 25.64 30.72 25.37C29.98 24.84 29.19 24.29 28.41 23.8C27.99 23.55 27.27 23.37 26.81 23.16C26.19 22.91 24.8 22.65 24.45 22.17C23.76 21.28 23.3 20.17 22.81 19.09C22.33 17.99 21.72 16.84 21.24 15.71C20.98 15.16 20.87 14.68 20.59 14.15C18.9 10.91 16.4 8.2 13.37 6.29C12.38 5.67 11.27 5.09 10.04 4.7C9.35 4.49 8.52 4.6 7.78 4.44L7.29 4.44C6.88 4.33 6.53 3.89 6.2 3.66C5.49 3.18 4.77 2.86 3.92 2.51C3.61 2.38 2.76 2.05 2.46 2.31C2.27 2.35 2.18 2.42 2.13 2.61C1.95 2.88 2.11 3.29 2.23 3.55C2.57 4.28 3.06 4.72 3.5 5.34C3.89 5.89 4.38 6.51 4.66 7.11C5.26 8.4 5.53 9.82 6.09 11.11C6.3 11.59 6.62 12.14 6.92 12.58C7.18 12.93 7.64 13.18 7.78 13.62C8.05 14.07 7.36 15.59 7.2 16.07C6.6 17.96 6.71 20.58 7.41 22.21C7.68 22.85 7.94 23.61 8.68 23.8C8.72 23.75 8.68 23.77 8.77 23.75C8.93 22.48 8.98 21.26 9.42 20.28C9.67 19.65 10.18 19.22 10.53 18.71C10.76 18.85 10.76 19.26 10.9 19.54C11.2 20.25 11.52 21.03 11.89 21.75C12.66 23.22 13.51 24.64 14.48 25.93C14.81 26.39 15.27 26.89 15.69 27.31C15.87 27.47 16.08 27.56 16.22 27.77L16.26 27.77L16.26 27.84C15.57 27.58 15.13 26.87 14.58 26.46C13.54 25.68 12.29 24.5 11.57 23.38L10.62 21.47L10.62 21.42C10.48 21.6 10.53 21.79 10.46 22.06C10.16 23.21 10.39 24.52 9.35 24.94C8.17 25.42 7.29 24.15 6.92 23.58C5.74 21.67 5.42 18.45 6.25 15.85C6.44 15.28 6.46 14.59 6.78 14.13C6.71 13.71 6.39 13.6 6.2 13.35C5.88 12.91 5.61 12.4 5.35 11.92C4.86 10.98 4.52 9.85 4.15 8.84C3.98 8.43 3.93 8.01 3.78 7.62C3.5 7.02 2.99 6.43 2.6 5.9C2.07 5.14 0.52 3.67 1.15 2.17C2.12 -0.19 5.52 1.6 6.84 2.43C7.16 2.64 7.53 3.08 7.9 3.24L9.63 3.33C10.72 3.58 11.73 3.79 12.59 4.27C16.57 6.59 19.16 8.96 21.54 12.87C22.05 13.7 22.3 14.59 22.72 15.49L24.62 19.49C24.92 20.09 25.15 20.75 25.56 21.26C25.73 21.49 26.19 21.56 26.47 21.69C27.23 22.08 28.15 22.38 28.87 22.84C30.21 23.67 31.51 24.66 32.69 25.67C33.13 26.06 33.43 26.61 33.84 27.03L33.84 27.23L32.73 27.55C31.92 27.76 31.21 27.72 30.42 27.92C29.94 28.06 29.33 28.24 28.83 28.29L28.87 28.34C29.17 29.19 30.79 29.88 31.53 30.39C32.43 31.03 33.27 31.81 33.94 32.71L34.63 33.37C34.79 33.61 34.84 33.9 35 34.11L35 34.18C34.68 34.07 34.52 33.77 34.26 33.58C33.75 33.24 33.24 32.82 32.73 32.5C31.85 31.95 30.84 31.63 29.94 31.08L28.46 30.02C28.02 29.7 27.53 29.08 27.25 28.62C27.09 28.36 27.07 28.06 26.88 27.88C26.93 27.45 27.48 27.45 27.83 27.31C29.03 26.8 30.47 26.61 32.31 26.66ZM8.73 6.69C8.92 6.87 9.22 6.99 9.36 7.22C9.47 7.38 9.5 7.54 9.63 7.7C9.63 8.25 9.47 8.62 9.15 8.85L9.1 8.9L8.57 7.8C8.34 7.48 8.01 7.22 7.83 6.86L7.78 6.86L7.78 6.8C7.86 6.78 7.94 6.77 8.02 6.75C8.1 6.74 8.18 6.73 8.25 6.72C8.33 6.71 8.41 6.7 8.49 6.7C8.57 6.69 8.65 6.69 8.73 6.69L8.73 6.69Z" />
  </svg>
</template>

<style>
.icon-mysql {
  fill: currentColor;
}
</style>
