<script lang="ts">
export default { name: 'IconReactNative' }
</script>

<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 2776 2776"
    width="2776"
    height="2776"
    class="icon-react-native"
  >
    <g>
      <path
        d="m2017.6 1527.3c64.9 283.5 36.7 509.3-89 581.8-29.5 17-63.5 25-101.1 25-122.9 0-283.9-86.7-446.7-237.9-162.8 152.1-323.8 239.7-446.8 239.7-37.5 0-71.5-8-100.6-25-126.1-72.5-154.7-298.7-90.3-583.2-279.1-85.4-461.1-223.1-461.1-368.5 0-144.9 181.1-282.2 459.3-368-64.9-283.6-36.7-509.4 89-581.8 29.5-17 63.5-25.1 101-25.1v-0.4c123 0 284 86.7 446.8 237.9 162.8-152.1 323.8-239.7 446.8-239.7v0.4c36.9 0.1 70.7 8.1 99.7 25.1 126.1 72.4 154.7 298.7 90.3 583.1 279.1 85.4 461.1 223.2 461.1 368.5 0 144.9-181.1 282.7-458.4 368.1zm-193.2-1344.8v99.3q0.2 0 0.5 0v-99.3q-0.3 0-0.5 0zm0 99.3c-93 0.2-229.6 74.5-375.2 209.7 63.1 65.8 125.7 140.9 186 223.6 100.7 10.8 196.4 27.3 284 48.8 9.9-45.2 17.9-89.4 22.8-131.5 20.6-170.8-5.8-303.6-66.6-338.5-13.9-7.6-30.4-11.7-51-11.7zm-893.1 1.8v0.5c-20.5 0-38 3.6-51.4 11.6-60.4 35.3-86.3 168.2-65.3 339 5.4 41.6 13 85 23.3 129.7 87.6-21.9 183.3-38.5 284.4-49.2 59.5-82.7 122.1-157.4 184.7-223.2-145.8-134.6-283.1-208.4-375.7-208.4zm779.1 542.1c21.9 33.9 43.8 68.8 64.4 104.6 21 35.8 40.2 71.6 58.6 107.3 23.2-59.5 43.8-118.9 60.3-176.6-58.6-14.3-119.8-26-183.3-35.3zm71.1 333.1c-28.2-59.9-59-119.4-93-178-34.9-59.9-71.1-116.7-108.3-169.9-66.1-5.4-133.7-8.5-201.2-8.5-68 0-135.5 3.1-202.1 8.9-37.2 53.3-72.9 110.5-107.8 170.9-33.6 58.6-64.9 118.5-92.6 178.4 28.2 59.9 59 119.4 93 178 34.9 59.9 71.1 116.7 108.3 169.9 66.1 5.4 133.7 8.5 201.2 8.5 68 0 135.5-3.1 202.1-8.9 37.2-53.2 72.9-110.5 107.8-170.8 33.6-58.6 64.4-118.6 92.6-178.5zm-6.3 228.1c-20.6 36.2-42.5 71.6-64.4 106 64-9.4 125.7-21.5 184.3-35.8q-6.6-22.6-13.8-45-7.2-22.5-14.9-44.7-7.7-22.3-16-44.4-8.2-22-17-43.9c-18.4 35.8-37.6 72-58.2 107.8zm-363.1 334.9q15.8-17.5 31.2-35.4 15.4-17.9 30.3-36.2 14.9-18.3 29.3-37c-40.7 2.2-82.3 3.1-124.4 3.1-41.5 0-82.7-1.3-122.9-3.1 41.1 52.3 82.7 100.2 124.3 143.1q16.3-17 32.2-34.5zm-429.3-333.6c-21-35.7-40.3-71.5-58.6-107.3-23.3 59.5-43.8 119-60.4 176.7 58.6 14.3 119.9 25.9 183.4 35.3q-32.9-51-64.4-104.7zm362.7-791.4q-15.9 17.4-31.3 35.3-15.3 17.9-30.2 36.2-14.9 18.4-29.3 37.1c40.7-2.3 82.3-3.2 124.3-3.2 41.6 0 82.7 1.4 123 3.2-41.2-52.4-82.8-100.2-124.3-143.2q-16.4 17.1-32.2 34.6zm-483 264.2q6.6 22.6 13.8 45 7.1 22.5 14.8 44.7 7.8 22.3 16 44.4 8.3 22 17.1 43.9c18.3-35.8 37.6-71.6 58.1-107.4 20.6-36.2 42.5-71.5 64.4-105.9-63.9 9.3-125.6 21.4-184.2 35.3zm-95.3 570.2c25.1-87.2 58.2-178 99.3-271-41.6-93.5-75.1-184.7-100.6-272.4-43.4 13.9-85.4 28.6-123.9 45.2-158.3 67.1-260.7 156.1-260.7 226.3 0 70.2 102.4 158.7 260.7 226.3 38.9 16.5 81 31.7 125.2 45.6zm165.9 605.5c93 0 229.9-74.2 375.7-209.8-63.1-65.7-125.7-140.8-186.1-223.6-100.6-10.7-196.3-27.2-283.9-48.7-9.9 45.2-17.9 89.4-22.8 131.5-20.6 170.8 5.8 303.6 66.6 338.5 13.4 7.6 30.4 11.6 50.5 12.1zm987-483c-87.6 21.9-183.3 38.5-284.4 49.2-59.5 82.7-122.1 157.4-184.7 223.2 145.8 134.6 283.1 208.4 375.7 208.4 20.5 0 38-3.6 51.4-11.7 60.4-35.3 86.3-168.1 65.3-339-4.9-41.5-13-84.9-23.3-130.1zm456.6-394.4c0-70.2-102.4-158.8-260.7-226.3-39.4-16.6-81.4-31.8-125.7-45.6-25 87.2-58.1 178-99.2 271 41.5 93.4 75.1 184.7 100.6 272.3 43.4-13.8 85.4-28.6 123.9-45.1 158.3-67.1 260.7-156.1 261.1-226.3z"
      />
      <path
        d="m1174.2 1159.2c0-112.9 91.5-204.4 204.3-204.4 112.9 0 204.4 91.5 204.4 204.4 0 112.9-91.5 204.4-204.4 204.4-112.8 0-204.3-91.5-204.3-204.4zm-792.6 1328.6h-67.4v116.2h-38.1v-287.2h95.1q48.5 0 74.5 22.1 26.3 22.1 26.3 64.3 0 26.8-14.6 46.7-14.4 20-40.3 29.8l67.5 121.9v2.4h-40.6zm-67.5-31h58.2q28.2 0 44.8-14.6 16.7-14.6 16.7-39 0-26.7-15.9-40.9-15.8-14.2-45.8-14.4h-58zm293.9 151.2q-43.4 0-70.6-28.5-27.2-28.6-27.2-76.3v-6.7q0-31.8 12-56.6 12.2-25.1 33.9-39.1 21.9-14.2 47.4-14.2 41.6 0 64.7 27.4 23.1 27.5 23.1 78.5v15.2h-144.6q0.8 31.6 18.3 51.1 17.8 19.4 45 19.4 19.3 0 32.7-7.9 13.5-7.9 23.5-20.9l22.3 17.3q-26.8 41.2-80.5 41.3zm-4.5-191.4q-22.1 0-37.1 16.2-15 16-18.5 45h106.9v-2.8q-1.6-27.8-15-43-13.4-15.4-36.3-15.4zm262 187.4q-3.2-6.3-5.2-22.5-25.4 26.4-60.7 26.5-31.6 0-51.9-17.8-20.1-18-20.1-45.4 0-33.3 25.2-51.7 25.5-18.5 71.4-18.5h35.5v-16.8q0-19.1-11.4-30.3-11.5-11.5-33.7-11.5-19.6 0-32.8 9.9-13.2 9.8-13.2 23.8h-36.7q0-15.9 11.2-30.7 11.5-15 30.8-23.7 19.6-8.7 42.8-8.7 36.9 0 57.8 18.6 20.9 18.3 21.7 50.7v98.2q0 29.4 7.5 46.7v3.2zm-60.5-27.8q17.1 0 32.5-8.9 15.4-8.9 22.3-23.1v-43.8h-28.6q-67.1 0-67.1 39.3 0 17.2 11.5 26.8 11.4 9.7 29.4 9.7zm234.1 2q19.5 0 34.1-11.9 14.6-11.8 16.2-29.6h34.5q-0.9 18.4-12.6 34.9-11.6 16.6-31.2 26.5-19.3 9.8-41 9.8-43.6 0-69.4-29-25.7-29.2-25.7-79.7v-6.1q0-31.1 11.5-55.4 11.4-24.3 32.7-37.7 21.5-13.4 50.7-13.4 35.9 0 59.6 21.5 23.9 21.5 25.4 55.8h-34.5q-1.6-20.7-15.8-33.9-14-13.4-34.7-13.4-27.8 0-43.2 20.1-15.2 19.9-15.2 57.8v6.9q0 36.9 15.2 56.8 15.2 20 43.4 20zm175.4-239.3v51.7h39.8v28.2h-39.8v132.3q0 12.9 5.3 19.4 5.3 6.3 18.2 6.3 6.3 0 17.3-2.4v29.6q-14.4 3.9-28 3.9-24.4 0-36.9-14.8-12.4-14.7-12.4-42v-132.3h-38.9v-28.2h38.9v-51.7zm409.3 265.1h-38.1l-144.5-221.3v221.3h-38.1v-287.2h38.1l144.9 222.3v-222.3h37.7zm193.3 0q-3.1-6.3-5.1-22.5-25.4 26.4-60.7 26.4-31.6 0-51.9-17.7-20.1-18-20.1-45.4 0-33.3 25.2-51.7 25.5-18.5 71.4-18.5h35.5v-16.8q0-19.1-11.4-30.4-11.5-11.4-33.8-11.4-19.5 0-32.7 9.8-13.2 9.9-13.2 23.9h-36.7q0-16 11.2-30.8 11.5-14.9 30.8-23.6 19.5-8.7 42.8-8.7 36.9 0 57.8 18.5 20.9 18.4 21.7 50.7v98.3q0 29.4 7.5 46.7v3.2zm-60.5-27.8q17.1 0 32.5-8.9 15.4-8.9 22.3-23.1v-43.8h-28.6q-67.1 0-67.1 39.3 0 17.1 11.5 26.8 11.4 9.7 29.4 9.7zm198-237.3v51.6h39.9v28.2h-39.9v132.4q0 12.8 5.3 19.3 5.4 6.4 18.2 6.4 6.3 0 17.3-2.4v29.6q-14.4 3.9-28 3.9-24.4 0-36.9-14.8-12.4-14.8-12.4-42v-132.4h-38.8v-28.2h38.8v-51.6zm122.3 265.1h-36.5v-213.5h36.5zm-39.4-270q0-8.9 5.3-15 5.5-6.1 16.2-6.1 10.6 0 16.1 6.1 5.6 6.1 5.6 15 0 8.9-5.6 14.8-5.5 5.9-16.1 5.9-10.7 0-16.2-5.9-5.3-5.9-5.3-14.8zm168.4 220.5l52.9-163.9h37.3l-76.6 213.4h-27.8l-77.3-213.4h37.3zm211.1 53.5q-43.4 0-70.7-28.5-27.2-28.6-27.2-76.3v-6.7q0-31.8 12-56.6 12.3-25.1 34-39.1 21.9-14.2 47.3-14.2 41.6 0 64.7 27.4 23.1 27.5 23.1 78.5v15.2h-144.6q0.8 31.6 18.4 51.1 17.7 19.4 44.9 19.4 19.4 0 32.8-7.9 13.4-7.9 23.5-20.9l22.2 17.3q-26.8 41.3-80.4 41.3zm-4.6-191.4q-22.1 0-37.1 16.2-15 16-18.5 45h106.9v-2.8q-1.6-27.8-15-43-13.4-15.4-36.3-15.4z"
      />
    </g>
  </svg>
</template>

<style>
.icon-react-native {
  fill: currentColor;
}
</style>
