<script lang="ts">
export default { name: 'IconStylelint' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-stylelint"
  >
    <path fill-rule="evenodd" d="M18.23 34.36C21.95 21.06 21.84 21 24.53 11.52L25.18 11.9C25.53 12.1 25.81 11.93 25.81 11.53L25.81 7.01C26.53 4.51 27.09 2.58 27.25 2L30.16 2L35 6.48L31.82 9.22L34.23 11.82L18.39 34.36C18.31 34.49 18.21 34.46 18.23 34.36L18.23 34.36ZM19.96 5.7C20.11 5.7 20.22 5.78 20.22 5.88L20.22 8.2C20.22 8.29 20.1 8.37 19.96 8.37L16.05 8.37C15.91 8.37 15.79 8.29 15.79 8.19L15.79 5.88C15.79 5.78 15.91 5.7 16.05 5.7L19.96 5.7L19.96 5.7L19.96 5.7ZM24.79 3.14C25.09 2.96 25.33 3.1 25.33 3.45L25.33 10.71C25.33 11.05 25.08 11.19 24.79 11.02L20.44 8.51C20.52 8.42 20.57 8.32 20.57 8.2L20.57 5.88C20.57 5.78 20.54 5.7 20.49 5.62L24.79 3.14ZM1.77 11.82L4.18 9.23L1 6.48L5.84 2L8.75 2C8.91 2.58 9.47 4.51 10.19 7.01L10.19 11.53C10.19 11.93 10.47 12.1 10.82 11.9L11.47 11.52C14.16 21 14.05 21.06 17.77 34.36L17.61 34.36L1.77 11.82ZM15.44 8.2L15.44 8.19C15.44 8.31 15.49 8.42 15.57 8.51L11.22 11.02C10.93 11.19 10.68 11.05 10.68 10.71L10.68 3.45C10.68 3.1 10.93 2.96 11.22 3.13L15.52 5.62C15.47 5.69 15.44 5.78 15.44 5.88L15.44 8.2ZM17.88 13.21C17.57 13.21 17.27 13.09 17.05 12.87C16.83 12.65 16.71 12.35 16.71 12.04C16.71 11.72 16.83 11.43 17.05 11.21C17.27 10.99 17.57 10.86 17.88 10.86C18.19 10.86 18.49 10.99 18.71 11.21C18.93 11.43 19.06 11.72 19.06 12.04C19.06 12.35 18.93 12.65 18.71 12.87C18.49 13.09 18.19 13.21 17.88 13.21ZM17.88 20.19C17.57 20.19 17.27 20.07 17.05 19.85C16.83 19.63 16.71 19.33 16.71 19.02C16.71 18.71 16.83 18.41 17.05 18.19C17.27 17.97 17.57 17.84 17.88 17.84C18.19 17.84 18.49 17.97 18.71 18.19C18.93 18.41 19.06 18.71 19.06 19.02C19.06 19.33 18.93 19.63 18.71 19.85C18.49 20.07 18.19 20.19 17.88 20.19ZM17.88 27.18C17.57 27.18 17.27 27.05 17.05 26.83C16.83 26.61 16.71 26.31 16.71 26C16.71 25.69 16.83 25.39 17.05 25.17C17.27 24.95 17.57 24.83 17.88 24.83C18.19 24.83 18.49 24.95 18.71 25.17C18.93 25.39 19.06 25.69 19.06 26C19.06 26.31 18.93 26.61 18.71 26.83C18.49 27.05 18.19 27.18 17.88 27.18Z" />
  </svg>
</template>

<style>
.icon-stylelint {
  fill: currentColor;
}
</style>
