<script lang="ts">
export default { name: 'IconXAMPP' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-xampp"
  >
    <g>
      <path fill-rule="evenodd" d="M17.99 0.87C22.4 0.87 26.82 0.87 31.23 0.87C31.78 0.87 32.33 0.92 32.86 1.08C34.02 1.43 34.63 2.25 34.86 3.39C34.96 3.84 34.99 4.31 34.99 4.77C34.99 7.86 35 10.95 35 14.04C35 19.67 35 25.3 34.99 30.92C34.99 31.71 34.95 32.51 34.56 33.23C34.13 34.02 33.53 34.65 32.64 34.93C32.48 34.98 32.31 35.04 32.14 35.04C31.76 35.04 31.38 35.13 31 35.13C22.36 35.13 13.72 35.14 5.08 35.12C4.38 35.12 3.66 35.07 2.99 34.78C2.86 34.73 2.73 34.68 2.61 34.59C1.76 33.94 1.18 33.14 1.06 32.04C1.01 31.65 1 31.26 1 30.86C1 22.1 1 13.34 1.01 4.58C1.01 4.08 1.01 3.56 1.17 3.07C1.58 1.78 2.5 1.07 3.85 0.93C4.16 0.89 4.48 0.87 4.79 0.87C9.19 0.87 13.59 0.87 17.99 0.87L17.99 0.87ZM18.1 22.66C18.19 23.18 18.27 23.64 18.42 24.07C19.38 26.74 22.2 28.95 25.9 28.06C28.54 27.42 30.46 24.99 30.54 22.27C30.58 20.97 30.27 19.77 29.57 18.67C29.45 18.49 29.44 18.34 29.53 18.14C29.64 17.91 29.74 17.68 29.83 17.44C29.92 17.2 30 16.96 30.08 16.72C30.15 16.48 30.22 16.24 30.27 15.99C30.33 15.74 30.38 15.49 30.42 15.24C30.58 14.24 30.61 13.23 30.42 12.22C29.96 9.84 27.54 7.27 24.26 7.3C21.04 7.34 18.76 9.77 18.27 12.1C18.21 12.38 18.16 12.66 18.1 13C18.06 12.82 18.02 12.69 18 12.56C17.62 10 15.17 7.72 12.53 7.47C9.53 7.19 7.29 8.9 6.27 10.92C5.92 11.6 5.73 12.34 5.67 13.11C5.56 14.55 5.87 15.88 6.67 17.08C6.76 17.22 6.77 17.33 6.69 17.48C6.17 18.49 5.83 19.57 5.72 20.71C5.61 21.77 5.58 22.83 5.88 23.87C6.71 26.75 9.49 28.61 12.49 28.28C15.04 28 16.73 26.59 17.73 24.28C17.94 23.79 18.01 23.26 18.1 22.66L18.1 22.66ZM25.29 18.07C25.93 18.36 26.31 18.86 26.35 19.56C26.41 20.47 26.42 21.38 26.36 22.28C26.28 23.33 25.32 24.13 24.24 24.1C23.19 24.07 22.28 23.21 22.24 22.18C22.22 21.55 22.24 20.92 22.24 20.29C22.23 19.95 22.23 19.94 21.89 19.94C19.94 19.94 17.99 19.95 16.05 19.94C14.78 19.93 14.02 20.62 13.95 22.02C13.92 22.56 13.8 23.06 13.44 23.48C12.87 24.12 12.16 24.33 11.34 24.14C10.55 23.95 10.1 23.4 9.86 22.64C9.69 22.12 9.78 21.59 9.88 21.08C10.36 18.51 11.84 16.78 14.36 16C14.91 15.83 15.47 15.77 16.04 15.77C17.34 15.77 18.64 15.77 19.94 15.77C20.13 15.77 20.31 15.75 20.49 15.74C21.5 15.67 22.16 15.01 22.23 13.81C22.24 13.72 22.24 13.63 22.24 13.53C22.25 12.41 23.1 11.54 24.22 11.5C25.35 11.46 26.28 12.25 26.36 13.38C26.46 14.93 25.98 16.3 25.05 17.53C24.97 17.64 24.85 17.74 24.81 17.89C24.97 17.95 25.13 18 25.29 18.07ZM12.61 15.77C12.24 15.76 11.8 15.79 11.35 15.72C10.59 15.59 10.1 15.16 9.9 14.41C9.67 13.59 9.76 12.84 10.4 12.23C11.04 11.62 11.79 11.44 12.61 11.76C13.42 12.08 13.88 12.7 13.93 13.56C13.97 14.22 13.94 14.88 13.94 15.53C13.95 15.7 13.88 15.77 13.71 15.77C13.37 15.76 13.03 15.77 12.61 15.77Z" />
    </g>
  </svg>
</template>

<style>
.icon-xampp {
  fill: currentColor;
}
</style>
